@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    

}
main{
    display: flex;
   align-items: center;
   justify-content: center;
    height: 100vh;
    width: 100%;
   
}

.navbar{
    background-color: rgba(215, 213, 213, 0.77);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.titre{
    margin-left: 100px;
   
}

ul{
    display: flex;
    flex-direction: row;
    
    list-style: none;
    gap: 20px;
    font-size: large;
    margin-right: 100px;
}

.photoProfil{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #7135db;
    animation: pulse 3s infinite;

    float: left;
    shape-outside: margin-box;
    margin: 70px 100px 50px 0;

}

.container{
    /* background-color: salmon; */
   
    /* width: 700px; */
    /* margin-left: 250px; */
}
 .premierPara{
    width: 900px;
    font-size: 20Px;
 }





@keyframes pulse {
    to {
        box-shadow: 0 0 0 30px rgba(0 ,0 ,0 , 0.01);
    }

    50% {
        transform: translateY(-40px);
    }

    100%{
        transform: translateY(0px);
    }
   
}

.home{
    height: 100vh;
    display: flex;
    justify-content:center;
    flex-direction: column;
    /* margin-top: 10%; */
    width: 100%;
    align-items: center;
    
  

    
}

.pP{
    display: flex;
    flex-direction: column;

}

/* .pP ::after{

    content: "";
    display: block;
    clear: both;
} */

.icone{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 40px;
    color: #7135db;
    /* background-color: red; */
    margin-top: 75px;
}

.iconcontainer {
    display: flex;
    justify-content: center;
    /* background-color: salmon; */
    gap: 130px;
    width: 100%;
}

.iconcontainer a {
    padding: 0 20px;
}

.boutoncv {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.text {
    font-size: 17px;
    margin-top: 15px;
}
.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #7135db;
}

.fa-brands{
    border:  black 1px;
    padding: 10px;
    border-radius: 20%;
    box-shadow: 2px 2px 6px rgb(152, 148, 148);
    background-color: rgba(240, 248, 255, 0.065);
    transition: all 200ms ease-in-out;
    

}

.fa-brands:hover{

    transform: scale(1.20);
}

.fa-solid{

    border:  black 1px;
    padding: 10px;
    border-radius: 20%;
    box-shadow: 2px 2px 6px rgb(152, 148, 148);
    transition: all 200ms ease-in-out;
    display: flex;
    flex-direction: column;
}

.fa-solid:hover{
    transform: scale(1.20);
}

.marwan{
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html{

    scroll-behavior: smooth;

}

#aboutme{

    background-color: rgba(245, 248, 245, 0.819);
    /* height: 100vh; */
    display: flex;
    /* margin-left: 10%; */
    /* align-items: center; */
    flex-direction: column;
    padding-top:75px;
   
    padding-bottom: 50px;
    
}

.titleAbout{

    margin-left: 10%;
   font-size: 25px;
}

.paraAbout{
    margin-left: 10%;
  line-height: 30px;
  width: 900px;
  
}

.paragra{
    font-size: 14px;
}

#projects{

    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    gap: 60px; 
    margin-left: 2px;
    padding: 90px;
}

.titleProjet{
    font-size: 20px;
}

.projectContainer {
    display: flex;

}

.box{

    border:  black 1px;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgb(125, 123, 123);
    transition: all 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-bottom: 70px;
    

}

.box1{

    margin-right: 220px;
}



#box1{
    background-image: url(twitter.png);
    background-position: center;
    background-size: cover;
}

#box1:hover{
    transform:scale(1.20);

}
#box2:hover{
    transform:scale(1.20);

}
#box3:hover{
    transform:scale(1.20);

}
#box4:hover{
    transform:scale(1.20);

}



#box2{
    background-image: url(Capture.png);
    background-position: center;
    background-size: cover;
}

#box3{
    background-image: url(pui.png);
    background-position: center;
    background-size: cover;
}

#box4{
    background-image: url(maquette.png);
    background-position: center;
    background-size: cover;
}



#contact{
    height: 70vh;
    background-color: rgba(245, 248, 245, 0.819);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#name{
    padding:10px;
    border-radius: 10px;
    border: 1px;
    box-shadow: 2px 2px 6px rgb(152, 148, 148);
    width: 300px;
}

#mail{
    padding:10px;
    border-radius: 10px;
    border: 1px;
    box-shadow: 2px 2px 6px rgb(152, 148, 148);
    width: 300px;
}

#msg{
    padding:80px;
    border-radius: 10px;
    border: 1px;
    box-shadow: 2px 2px 6px rgb(152, 148, 148);
    width: 300px;
}

#btn{
    padding:10px;
    border-radius: 10px;
    border: 1px;
    box-shadow: 2px 2px 6px rgb(145, 142, 142);
    width: 300px;

}

#btn:hover{
    transform:scale(1.05);
}

.name{
    margin-right: 115px;
}

.mail{
    margin-right: 115px;
}









footer{
    display: flex;
    justify-content: center;
    
}

.footeer{
    font-size: 10Px;
    color: rgb(172, 176, 176);
}

